[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
pillow = "*"
django-rest-swagger = "*"
redis = "*"
celery = {extras = ["redis"]}
sorl-thumbnail = "*"
django-cors-headers = "*"


[dev-packages]

