.gal-drawer{
  width:16vw;
  height:100vh;
  overflow:auto;
  background-color:rgb(30, 24, 35);
}
.gal-drawer::-webkit-scrollbar{
  width: 6px;
	background-color: rgb(30, 24, 35);
}
.gal-drawer::-webkit-scrollbar-thumb{
  background-color: #2196f3;
  border-radius: 50%;
}
.gal-whitespace{
  height: 5vh;
}
.gal-dp-image-container{
  width:100px;
  height:100px;
  border-radius: 50%;
  margin-left: -8px;
}
.gal-drawer-grid{
  width:100%!important;
  padding:0 !important;
  margin:0 !important;
}
.gal-name{
  text-align: center;
}
.gal-name .first{
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
  font-weight: 500;
  color: #fff;
}
.gal-name .photo-count{
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  font-weight: 300;
  color: gray;
}
.gal-divider{
  background-color: rgba(175, 175, 175, 0.12) !important;
}
.gal-head-names{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11pt;
  font-weight: 700;
  color: rgb(247, 247, 247);
  padding-left: 5%;
}
.gal-drawer-list h3{
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: rgb(247, 247, 247) !important;
}
.gal-drawer-list svg{
  color: rgb(247, 247, 247) !important;
}
.gal-drawer-list p{
  font-size: 9pt;
  color: gray !important;
}

.gal-drawer-list li:hover h3{
  color: #2196f3 !important;
}
.gal-drawer-list li:hover svg{
  color: #2196f3 !important;
}
.gal-drawer-list li:hover p{
  color: #2196f3 !important;
}
.gal-paper{
  border-radius: 20px !important;
  padding-bottom: 30px !important;
  margin:50px 3% 0 3% !important;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
              0px 2px 15px 0px rgba(0, 0, 0, 0.14),
              0px 3px 1px -2px rgba(0, 0, 0, 0.12) !important;
}
.gal-ph-collec-head{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 20pt;
  padding:1% 0 0 1%;
  height: 50px;
}
.gal-ph-collec-head span{
  font-size: 13pt;
  color: gray;
  padding-left: 5px;
}