.gal-tab-paper{
  margin-top:4.7%;
  position: fixed;
  z-index: 1;
  width:100%;
}
.tab-container{
  padding: 24px;
  padding-top:10%;
}
.tab-month-text{
  margin-top:20px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  color:#5b5a5a;
  font-weight: 300;
  font-size: 20pt;
}
.icon-button{
  /* position: absolute !important; */
  position: fixed !important;
  float: right;
  bottom: 8%;
  right: 4%;
}
@media only screen and (max-width: 768px) {
  .gal-tab-paper{
    margin-top:15%;
    position: fixed;
    z-index: 1;
    width:100%;
  }
  .tab-container{
    padding: 24px;
    padding-top:40%;
  }
}
@media only screen and (max-width: 1440px) and (min-width:1440px) {
  .gal-tab-paper{
    margin-top:4.0%;
    position: fixed;
    z-index: 1;
    width:100%;
  }
}