.suTxt{
  width:100%;
  margin-left: 3.5% !important;
  margin-top:3% !important;
}
.suFirstName{
  margin-left: 3.5% !important;
  margin-top:-2.5% !important;
  width:100%;
}
.nxt-btn{
  margin-left: 13% !important;
}